@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #3f4c6b,
    #606c88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3f4c6b, #606c88);

  form,
  input,
  button {
    color: inherit;
  }
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
